html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Homepage */
* {
    margin: 0;
    padding: 0;
}

.sky {
    display: flex;
    background-color: darkblue;
}


.stars {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index: 0;
}






/*  CAR */

/* Car object */

.wrapper {
    display: flex;
    flex-direction: column;
}

.car {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 40vh;
    width: 45vh;
    position:relative;
    top: 320px;
    z-index: 1;
}

/* car parts */

.upper-part {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 12vh;
    width: 35vh;
    background-color: red;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.windshield {
    align-self: flex-end;
    height: 11vh;
    width: 43vh;
    background-color: lightslategrey;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.body {
    display: flex;
    justify-content: space-between;
    height: 16vh;
    width: 100%;
    background-color: red;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* LIGHTS */

.light-left,
.light-right {
    margin-left: 5vh;
    margin-right: 5vh;
    margin-top: 5vh;
    width: 5vh;
    height: 5vh;
    border-radius: 45%;
    background-color: antiquewhite;
    animation: bounceIn 100ms infinite;
}

.lower-part {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
}

.tyre-left,
.tyre-right {
    margin-left: 5vh;
    margin-right: 5vh;
    height: 9vh;
    width: 6vh;
    background-color: #0c2737;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}


/* SCENE */

.scene {
    display: flex;
    -moz-perspective: 120px;
    -moz-transform-style: preserve-3d;
    -moz-perspective-origin: 50% 50%;
    -webkit-perspective: 300;
    -webkit-perspective-origin-x: 50%;
    -webkit-perspective-origin-y: 70%;
    perspective: 300;
    perspective-origin-x: 50%;
    perspective-origin-y: 50%;
}


.road {
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    background: #343432;
    left: 200px;
    top: 0;
    height: 42vh;
    border: solid 2px #444;
    border-top: none;
    border-bottom: none;
    -webkit-transform: rotateX(36deg);
    -moz-transform: rotateX(36deg);
    -o-transform: rotateX(36deg);
    -ms-transform: rotateX(36deg);
    transform: rotateX(36deg);
}

@keyframes

"striper" {
    0%

{
    top: -200px;
}

100% {
    top: 0px;
}

}

@-moz-keyframes striper {
    0% {
        top: -200px;
    }

    100% {
        top: 0px;
    }
}

@-webkit-keyframes

"striper" {
    0%

{
    top: -200px;
}

100% {
    top: 0px;
}

}

@-ms-keyframes

"striper" {
    0%

{
    top: -200px;
}

100% {
    top: 0px;
}

}

@-o-keyframes

"striper" {
    0%

{
    top: -200px;
}

100% {
    top: 0px;
}

}

.stripes {
    -webkit-animation: striper 1100ms infinite linear;
    -moz-animation: striper 1100ms infinite linear;
    -ms-animation: striper 1100ms infinite linear;
    -o-animation: striper 1100ms infinite linear;
    animation: striper 1100ms infinite linear;
    width: 0px;
    height: 1200px;
    margin: 0 auto;
    border: dashed 12px #fded30;
    border-left: none;
    position: relative;
    top: -200px;
}
